<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>

    <nav class="header__nav">
        <ul class="ul">
            <li class="li">
                <a href="/" class="li_a ">Home</a>
            </li>
            <li class="li">
                <a href="/about" class="li_a">About</a>
            </li>
            <!-- <li class="li">
                <a href="/contact" class="li_a">Contact</a>
            </li>  -->
        </ul>
    </nav>

    <div class="header__button">
        <a href="/logout">
            Logout
        </a>
      </div>
</header>